<h1>Текущие заказы</h1>
<%=@kkk%>
<%for order in @orders -%>
<table border=1>
  <tr>
<th> Number </th>
    <th>Имя</th>
    <th>Адрес</th>
    <th>Почта</th>
	<th>Тип оплаты</th>
    <th>Товар</th> 
    <th>Количество</th>
    <th>Цена товара</th>
	<th>Общая сумма</th>
<th>ОТработано</th>
  </tr>
	<td><%=order.id%></td>     
	<td><%= h (order.name) %></td>
	   <td><%= h (order.address) %></td>
	   <td><%= h (order.mail) %></td>
	   <td><%= h (order.pay_type) %></td>	
	   <td> 
              <% 
		for item in @items 
  		product = item.product

		-%>
		<%if (item.order_id == order.id)%>
		<%= h(product.name) %>
		<br>			
		<%end%>
               <%end%>
		</td>
	<td>
<% 
		for item in @items
  		product = item.product
		-%>
		<%if (item.order_id == order.id)%>
<%= item.quantity %>
<br>
  <%end%>
               <%end%>
</td>
<%@summ=0%>
<td align="center">
<% 
		for item in @items
  		product = item.product
		-%>
		<%if (item.order_id == order.id)%>
<%= item.total_price %>
<%@summ += item.total_price %>
<br>
  <%end%>
               <%end%>
</td>
<td>
<%=@summ %>
</td>   
<td>
<%=order.done%>
</td>   

<td>
<%=order.created_at%>
<br>
<%=order.updated_at%>
<br>
<%=Time.now %>
<%if order.created_at > (Time.now-1.hours)%>
lllllll
<%end%>
</td>

 <td>
<%if order.done=="Yes"-%>
<div>Отработано!</div>
<%elsif order.done=="No"-%>
<%= button_to ('Отработать заказ', {:action => :product_decrement, :id=>order.id},:confirm=>"Вы уверены что надо отработать заказ ???") %> 
<%end%>
</td>   
    

</table>
<%end%>
<br />

