<center>
<h1>Ваша корзина</h1>

<div>
<table border="0">
<tr>
<td>Товар</td>
<td>Количество</td>
<td>Цена</td>
<td>&nbsp</td>
<td>&nbsp</td>
</tr>
<% for cart_item in @cart.items %>
<tr>
<td><%= h(cart_item.name) %></td>
<td><%= cart_item.quantity %> &times;</td>
<td><%= cart_item.price %></td>
<td><%= h(cart_item.id) %></td>
<td><%= button_to "Убрать из корзины", :action=> :remove_from_cart, :id => cart_item.id%></td>
</tr>
<%end%>
</table>
</div>

<%= button_to "Очистить корзину", :action=> :empty_cart %>
<%=button_to "Назад в магазин", :back%>
</center>
